.gameField {
	display: grid;
	grid-template-columns: repeat(3, 140px);
	grid-template-rows: repeat(3, 140px);


}

.cell {
	background-color: var(--gray-200);
	border: 1px solid var(--dark);
	cursor: pointer;
	box-shadow: inset 0px 0px 20px 0px rgba(#000000, 0.3);

	&Win {
		background-color: rgba(tomato, 0.1);
	}
}