.gameField {
	display: grid;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);


}

.cell {
	background-color: var(--gray-200);
	border: 1px solid var(--dark);
	cursor: pointer;

	&Win {
		background-color: rgba(tomato, 0.1);
	}
}